{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<h2>新着記事</h2>
<ul>
  {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
    <li>
      <b><a href="{{.RelPermalink}}">{{.Title}}</a></b>
      <time>{{.Date.Format "2006-01-02"}}</time>
    </li>
  {{ end }}
</ul>
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
